<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenxianping.blog.dao.BlogCommentMapper">
  <resultMap id="BaseResultMap" type="com.chenxianping.blog.entity.BlogComment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="commen_id" jdbcType="INTEGER" property="commenId" />
    <result column="source_id" jdbcType="INTEGER" property="sourceId" />
    <result column="comment_content" jdbcType="VARCHAR" property="commentContent" />
    <result column="comment_parent_id" jdbcType="INTEGER" property="commentParentId" />
    <result column="commentator_id" jdbcType="INTEGER" property="commentatorId" />
    <result column="reply_commentator_id" jdbcType="INTEGER" property="replyCommentatorId" />
    <result column="commentator_ip" jdbcType="VARCHAR" property="commentatorIp" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>